

/* Se revela cuando OTRA persona quiere ver nuestro perfil y está bloqueado */
.hidden-profile{
    display:none;
}

.hidden-list{
    display:all;
}
/*Se revela solo cuando el usuario actual COINCIDE con el del perfil*/
.edit-profile{
    display:none;
}

