
#btn-check-ranking{
    color:rgb(75, 75, 75);
}


#btn-check-ranking:active{
    color:gold !important;
}

#btn-filter{
    color:rgb(131, 131, 131);
    transition: transform 0.3s ease;
}

#btn-filter:hover{
    transform: scale(1.03);
    color:rgb(0, 0, 0);
}

.btn-card{
    background-color: rgb(228, 228, 228) !important;
}

.btn-card:hover{
    background-color: rgb(213, 213, 213) !important;
}

.noUi-connect {
    background:rgb(136, 170, 163) !important;
}

.img-user{
    width: 100%;
    height: 150px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-user img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}