@media (max-width: 768px) {
  .categories-ball {
      height: 50px !important; 
      width: 300px !important; 
      border-radius: 10px !important;
      margin: 10px auto !important;
      background-size:contain !important;
      background-repeat: no-repeat;
      background-color: #88aaa3;
      margin-top: 0px !important;
      margin-bottom: 0px !important;
  }
}
.horizontal-scroll-container {
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .horizontal-scroll-container::-webkit-scrollbar {
    display: none;
  }
  
  
  .horizontal-scroll {
    display: inline-flex;
  }
  
  .card {
    display: inline-block;
    margin-right: 10px;
  }
  

  .horizontal-scroll-container2 {
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .horizontal-scroll-container2::-webkit-scrollbar {
    display: none;
  }
  
  
  .horizontal-scroll2 {
    display: inline-flex;
  }
  
.btn-card{
    background-color: rgb(228, 228, 228) !important;
}

.btn-card:hover{
    background-color: rgb(213, 213, 213) !important;
}
  
.img-container{
  width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}