@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

/* MEDIA QUERIES PARA PANTALLAS PEQUEÑAS */
@media (max-width: 1600px) {
    .product-thumbnail {
      display: none;
    }

    .rating{
        width: 75vw !important;
        padding:20px !important;
    }

    .rating__average{
        width: 100px !important;
    }

    .star-inner, .star-outer{
        display:none !important;
    }
  
}

.search-btn{
    transition: width 0.3 ease;
}
.search-btn:hover{
    width: 110px;
}

body{
   background-color: white;
    
}
.hidden{
    display: none;
}

.mi-navbar{
    background-color: #88aaa3;
}

.icon-logo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
}

#brand
{
    font-family: "Bodoni Moda SC", serif;
    font-weight: bold;
    height: 31px !important;
    width: auto;

}

.navbar-brand{
    height: 44px !important;
}

.box-area{
    width: 930px;
}

.btn-action{
    transition: transform 0.3s ease;
}

.btn-action:hover{
    transform: scale(1.03);
}

/* STAR RATING CSS */


.star{
    font-size: 3rem;
    color:#ff9800;
    text-align: center;
}

.star:hover{
    cursor:pointer;

}

/* USER STAR BAR */

.app{
    min-height: 30vh;
    background-color: #ffffff;
    display:grid;
    place-items: center;
    border-radius: 25px;
}

.rating{
    width: 40vw;
    display:flex;
    align-items: center;
    column-gap: 2rem;
}

.rating__average{
    width: 25%;
    background-color: #aeaeae35;
    padding:1rem;
    border-radius:.8rem;
    text-align: center;
}

.rating__average_top{
    width: 25%;
    background-color: #aeaeae35;
    padding:1rem;
    border-radius:.8rem;
    text-align: center;
}

.rating__average h2{
    font-size:3rem;
}

.rating__average .star-outer{
    position:relative;
    font-size: 2rem;
    display: inline-block;
}

.rating__average_top .star-outer-top{
    position:relative;
    font-size: 2rem;
    display: inline-block;
}

.rating__average_top .star-outer-top::before{
    content:"\2605 \2605 \2605 \2605 \2605";
    color:#fff8;
}

.rating__average .star-outer::before{
    content:"\2605 \2605 \2605 \2605 \2605";
    color:#fff8;
}

.rating__average .star-inner{
    position:absolute;
    top:0;
    left:0;

    width: 50%;
    overflow: hidden;
    
}

.rating__average .star-inner::before{
    content:"\2605 \2605 \2605 \2605 \2605";
    color:gold;
}

.rating__average_top .star-inner-top{
    position:absolute;
    top:0;
    left:0;

    width: 50%;
    overflow: hidden;
    
}

.rating__average_top .star-inner-top::before{
    content:"\2605 \2605 \2605 \2605 \2605";
    color:gold;
}




.rating__average p{
    font-size:.7rem;
    letter-spacing: .1rem;
}

.rating__progress{
    width: 70%;
}

.rating__progress-value{
    height: 2rem;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 1rem;
}

.rating__progress-value .star{
    font-size:1.2rem;
    color:gold;
}

.rating__progress-value p:last-child{
    width: 10%;
}

.rating__progress .prog{
    flex:1 1 0;
    height: .5rem;
    border-radius: .5rem;
    background-color: #ff02;
}

.bar{
    height: 100%;
    background-color: gold;
    border-radius: .5rem;
}
/* SECCION DE MÁS PRODUCTOS... */
.card{
    transition: transform 0.3s ease;
}

.card:hover{
    transform:rotateZ(0.7deg) scale(1.03);
}

/*VENTANA MODAL, FORMULARIO DE CREACION DE LISTAS*/

.create-list{
    display:none;
}

/* AJUSTES DE CARRUSEL */
.carousel-inner{
    max-height: 600px;
    min-height: 600px;
}
.carousel-inner img{
    object-fit:cover;
    height: 100%;
    width: auto;
}

.mini-thumb{
    max-height: 100px;
    max-width: 100px;
}

.mini-thumb img{
    max-height: 100px;
    max-width: 100px;
    object-fit: scale-down;
    height: auto;
}

.horizontal-scroll-container {
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .horizontal-scroll-container::-webkit-scrollbar {
    display: none;
  }
  
  
  .horizontal-scroll {
    display: inline-flex;
  }
  
  .card {
    display: inline-block;
    margin-right: 10px;
  }

  .img-container{
    width: 100%;
      height: 300px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .img-container img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }
  
  .btn-card{
    background-color: rgb(228, 228, 228) !important;
}

.btn-card:hover{
    background-color: rgb(213, 213, 213) !important;
}
  

  